<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuxk.dateCalculate.mapper.UserMapper">
    <insert id="addUser" parameterType="com.wuxk.dateCalculate.entity.User">
        insert into user_tb (userId, userName, logicDelete) values (#{userId}, #{userName}, #{logicDelete})
    </insert>
    <delete id="deleteUser" parameterType="com.wuxk.dateCalculate.entity.User">
        delete from user_tb where userId=#{userId}
    </delete>
    <update id="modifyUser" parameterType="com.wuxk.dateCalculate.entity.User">
        update user_tb
        <set>
            <if test="userName != null">userName=#{userName},</if>
            <if test="logicDelete != null">password=#{logicDelete}</if>
        </set>
        where userId=#{userId}
    </update>
    <select id="queryUser" parameterType="com.wuxk.dateCalculate.entity.User" resultType="com.wuxk.dateCalculate.entity.User">
        select userId, userName, logicDelete from user_tb
        <where>
            <if test="userId != null and userId != ''">
                userId = #{userId}
            </if>
            <if test="userName != null and userName != ''">
                AND userName = #{userName}
            </if>
            <if test="logicDelete != null">
                AND logicDelete = #{logicDelete}
            </if>
        </where>
    </select>
</mapper>